main{
    .cuerpoLaptop{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        text-align: center;
        justify-items: center;
    }
}


main{
    .cuerpoLaptop{
        .laptop{
             margin-top: 100px;
        }
    }
}